html {
    height: 100%;
    background: black;
    overflow-x: hidden;
    margin-left: 6px;

}

body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #5e5b64;
    position: relative;
    z-index: 0;
}


#sb-site, .sb-site-container, .sb-slidebar {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color:lightgray;

}

html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden; /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
}
#sb-site, .sb-site-container {

    width: 100%;
    position: relative;
    z-index: 1;
    background: url("/css/img/panelback.jpg");
    background-repeat: repeat;
    padding: 150px 0px 600px;

}

.main-content
{
    padding:10px;
    margin-left:1%;
    color:white;
    position: relative;
    height: 100%;    width: 100%;
}



.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    text-decoration: none;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
    text-decoration: none;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}





form{
    width:80%;
    height:100%;
    margin-left:100px;
    z-index: -3;
    padding:100px;
    color:black;
    background: white;
    margin-top:-150px;

}

#button
{
    border: none;
    padding: 5px 8px 5px 8px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size:14px;
    margin-top:2px;
    margin-left:0px;
    width:100%;
    text-decoration:none;
}
#inputStory
{
    width:100%;
    padding:10px;

}
#perm {

    font-size: 10px;
    margin-left:10px;
    width:500px;
    position: absolute;
}
#radio
{
    position:absolute;
    font-size:14px;
}
#checkbox{
    margin-left:410px;
    font-size:14px;
}
#rating
{
    width:150px;
    position: absolute;
    margin-left:1350px;
}
#ui-widget {
    width: 300px;
    height: 100px;  position: absolute;
    margin-left:550px;
}
#calendar{
    width:430px;

    position: absolute;
    margin-left:880px;
}
textarea {
    margin-top: 50px;
    width:100%;
    height:200px;
    font-size:22px;
}
#ui-datepicker-div
{
    font-size: 12px;
}
#perm,#calendar,#ui-widget,#rating
{
    margin-top:10px;
}
#controls
{
    padding:5px;
}
#AddedStory {
    width: 500px;
    height: 100px;
}
.header {


    font-family: 'Playball', cursive;
    position:absolute;
}

header
{
    height:40px;


}
.usrName
{
    margin-left:1600px;
    color:white;
    margin-bottom:0;
    position:absolute;
}