html {
    height: 100%;
    background: #000000;
    overflow-x: hidden;
    margin-left: 6px;

}

body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #5e5b64;
    position: relative;
    z-index: 0;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.main-content {
    width: 100%;
    height: 100%;

}

.content-body {
    position: relative;
    z-index: 1;
    background: url("/css/img/backgr.jpg") no-repeat;
    padding: 150px 0px 600px;

}

.header {

    padding: 5px;
    font-family: 'Playball', cursive;

}

header
{
    height:30px;

}

#back1 {
    background: url("/css/img/1.png") no-repeat 50%, 25%;
    width: 34%;
    height: 65%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: -1;
    -ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
}

#back2 {
    background: url("/css/img/2.png") no-repeat;
    width: 34%;
    height: 65%;
    position: absolute;
    top: -20%;
    left: 70%;
    z-index: -2;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);

}

#back3 {
    background: url("/css/img/3.png") no-repeat;
    width: 34%;
    height: 65%;
    position: absolute;
    top: 30%;
    left: 70%;
    z-index: -4;
    -ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
}

#back4 {
    background: url("/css/img/4.png") no-repeat;
    width: 34%;
    height: 65%;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: -3;
    -ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
}

#back5 {
    background: url("/css/img/6.png") no-repeat;
    width: 34%;
    height: 65%;
    position: absolute;
    margin-left: 400px;
    margin-top: 70px;
    z-index: -3;
    -ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
}