html {
    height: 100%;
    background: black;
    overflow-x: hidden;
    margin-left: 6px;

}

body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #918c97;
    position: relative;
    z-index: 0;
}


#sb-site, .sb-site-container, .sb-slidebar {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-decoration: none;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden; /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
}
#sb-site, .sb-site-container {
    background: url("/css/img/panelback.jpg");
    background-repeat: repeat;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 80%;
    padding: 150px 10px 600px 10px;
}

.main-content
{

    padding:10px;
    margin-left:1%;
    color:white;
    position: relative;
    height: 100%;    width: 95%;
}

.header {


    font-family: 'Playball', cursive;
    position:absolute;
}

header
{
    height:40px;


}
.usrName
{
    margin-left:1500px;
    color:white;
    margin-bottom:0;
    position:absolute;
}

#accordion
{
    width:100%;
    word-wrap: break-word;
    margin-top:-155px;
    margin-left:40px;
}
#deleteStory
{
    border: none;
    padding: 5px 8px 5px 8px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size:14px;
    margin-top:12px;
    margin-left:0px;
    width:100%;
    text-decoration:none;
}
#edit
{
    border: none;
    padding: 5px 8px 5px 8px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size:14px;
    margin-left:0px;

    text-decoration:none;
}
#manipulate{
    position:relative;

    width:200px;
}
input[type=submit],
input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size:20px;
    margin-left:20px;
    width:100%;
}
input[type=submit]:hover,
input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}