html {
    height: 100%;
    background: #000000;
    overflow-x: hidden;
    margin-left: 6px;
}

body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #5e5b64;
    position: relative;
    z-index: 0;
}


#sb-site, .sb-site-container, .sb-slidebar {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden;
}
#sb-site, .sb-site-container {

    width: 100%;
    position: relative;
    z-index: 1;
    background: url("/css/img/backgr1.jpg");
    padding: 150px 0px 600px;

}
.header {


    font-family: 'Playball', cursive;
    position:absolute;
}

header
{
    height:40px;


}
.usrName
{
    margin-left:1500px;
    color:white;
    margin-bottom:0;
    position:absolute;
}
