html {
    height: 100%;
    background: #000000;
    overflow-x: hidden;
    margin-left: 6px;
}

body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #5e5b64;
    z-index: 0;
}


#sb-site, .sb-site-container, .sb-slidebar {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden;
}
#sb-site, .sb-site-container {

    position: relative;
    z-index: 1;
    background-color: white;
    background-repeat: repeat;
    padding: 150px 0px 600px;

}
.header {


    font-family: 'Playball', cursive;
    position:absolute;

}

header
{
    height:40px;

    width:100%;


}
.usrName
{
    margin-left:1500px;
    color:white;
    margin-bottom:0;
    position:absolute;
}

.main-content {
    top:10px;
    background-color: white;
    margin-left:90px;
    position: absolute;
    width: 80% ;
    height : 80%;

    border: 1px solid white;

}

.sb-slidebar {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    z-index: 0;
    display: none;
    background-color: #222222;
    -webkit-transform: translate(0px);
}
.sb-slidebar  {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    z-index: 0;
    display: none;
    background-color: #222222;
    -webkit-transform: translate(0px);
}

.sb-left {
    left: 0;

}
.sb-left a
{
    display:block;
    text-decoration: none;
    color:white;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    border-bottom: 1px solid #adb6c9;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;

}
.sb-left a:hover
{
    background: #666666;
}
html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
    position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
    display: block;
    background-color:black;
}

.sb-style-overlay {
    z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}


/* Slidebar widths for browsers/devices that don't support media queries. */
.sb-slidebar {
    width: 30%;
}

.sb-width-thin {
    width: 15%;
}

.sb-width-wide {
    width: 45%;
}

@media (max-width: 480px) { /* Slidebar widths on extra small screens. */
    .sb-slidebar {
        width: 70%;
    }

    .sb-width-thin {
        width: 55%;
    }

    .sb-width-wide {
        width: 85%;
    }
}

@media (min-width: 481px) { /* Slidebar widths on small screens. */
    .sb-slidebar {
        width: 55%;
    }

    .sb-width-thin {
        width: 40%;
    }

    .sb-width-wide {
        width: 70%;
    }
}

@media (min-width: 768px) { /* Slidebar widths on medium screens. */
    .sb-slidebar {
        width: 40%;
    }

    .sb-width-thin {
        width: 25%;
    }

    .sb-width-wide {
        width: 55%;
    }
}

@media (min-width: 992px) { /* Slidebar widths on large screens. */
    .sb-slidebar {
        width: 20%;
    }

    .sb-width-thin {
        width: 5%;
    }

    .sb-width-wide {
        width: 35%;
    }
}

@media (min-width: 1200px) { /* Slidebar widths on extra large screens. */
    .sb-slidebar {
        width: 20%;
    }

    .sb-width-thin {
        width: 5%;
    }

    .sb-width-wide {
        width: 35%;
    }
}

.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left; /* Add left/right for Android < 4.4. */
    -webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}


.sb-hide {
    display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}
.bar
{
    display: block;
    width: 50px;
    margin-bottom: 3px;
    height: 10px;
    background-color: black;
    border-radius: 1px;
}

.sb-toggle-left {
    position: absolute;
    top: 10px;
    margin-left: 10px;
    display: block;
    width: 50px;
    height: 50px;

}

#menu-header {
    float: left;
    height: 40px;
    position: absolute;
    width: 100%;
  z-index: 9999;
}
#grid{
    width:100%;
    height:100%;
}
#menu-trigger {
    position: relative
    float: right;

    margin-left:250px;

    border-radius: 5px;
    -moz-border-radius: 5px;
}
#menu-trigger:hover {
  color:yellow;
}
#menu-trigger span.arrow {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 12px;
    height: 12px;

}
#menu-trigger.open span.arrow {
    background-position: 0 -12px;
}
#menu {
    display: none; /* hide by default */
    left: 200px;
    position: absolute;
    top:40px;
    width: 1000px;
}
#menu .column {
    float: left;
    width: 300px;
    background-color: black;

}
#menu .column:first-child {
    margin-left: 10px;
}
#menu .column h3 {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 10px;
}
#menu .column ul {

    list-style: none;
}
#menu .column ul:first-child {
    margin-left: 0;
}
#menu .column ul li {
    border-bottom: 1px solid #999;
}
#menu .column ul li:first-child {
    border-top: 1px solid #999;
}
#menu .column ul li a {
    color: #bbb;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: padding-left .5s;
    -moz-transition: padding-left .5s;
    -ms-transition: padding-left .5s;
    -webkit-transition: padding-left .5s;
    -o-transition: padding-left .5s;
}
#menu .column ul li a:hover {
    background: #000;
    color: #fff;
    padding-left: 20px;
}
table.listTodo{
    padding:10px;
    width:100%;
    height:10%
}

