html {
    height: 100%;
    background: #000000;
    overflow-x: hidden;
    margin-left: 6px;

}

body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #5e5b64;
    position: relative;
    z-index: 0;
    height: 90%;
}

.header {

    padding: 5px;
    font-family: 'Playball', cursive;

}

header
{
    height:30px;

}
.main-content{
    background-image: url("/css/img/backgr.jpg");
    background-repeat: no-repeat;
    height:90%;
}
.input {
    width: 300px;
    color: #262626;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    margin-left: 20px;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
}

.input:focus {
    background-color: dodgerblue;
    color: #ffffff;
    font-style: italic;

}

.registration {
    width: 510px;
    height: 450px;
    color: #ffffff;
    font-size: 16px;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    padding: 25px;
}

label {
    float: left;
    padding-right: 10px
}

.field {
    clear: both;
    text-align: right;
    line-height: 40px;
}

.button {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    margin-left: 78%;
}

.button:hover, .button:focus {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

.button:active {
    outline: none;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.button::-moz-focus-inner {
    border: none;
}

.backgroundPict {

    background: url("/css/img/backgrReg.jpg") no-repeat;
    margin-left: 100px;
    z-index: 0;

    height: 800px; float:left;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}
#RegSucc
{
    border:2px solid white;
    width:600px;
    color:white;
    margin-left:29%;
    font-size:26px;
    float:left;
    font-family:cursive;
    margin-top: 10%;
    background-color:green;
}

